.man {
	display: flex;
	justify-content: center;
	align-items: center;
}
.box {
	width: 50%;
	height: 60vh;
	position: absolute;
	top: 20%;
	display: flex;
	flex-direction: row;
	border-radius: 6px;

	-webkit-box-shadow: -1px 4px 20px 11px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -1px 4px 20px 11px rgba(0, 0, 0, 0.25);
	box-shadow: -1px 4px 20px 11px rgba(0, 0, 0, 0.25);
}
.lsection {
	width: 60%;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 1.5em;
	color: cadetblue;
}
.rsection {
	width: 40%;
	background-color: cadetblue;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: whitesmoke;
}
.input {
	background: #ecf0f1;
	border: #ccc 0.06rem solid;
	border-bottom: #ccc 0.125 solid;
	padding: 0.6rem;

	margin-top: 0.625rem;
	font-size: 1em;
	border-radius: 0.25rem;
}
.btn {
	background: cadetblue;
	width: 7.813rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	color: white;
	border-radius: 4px;
	border: cadetblue 1px solid;

	margin-top: 20px;

	font-weight: 800;
	font-size: 0.8em;
}

.btn:hover {
	background: #2cc06b;
}
.btn1 {
	background: white;
	width: 125px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: cadetblue;
	border-radius: 4px;
	border: cadetblue 1px solid;

	margin-top: 20px;

	font-weight: 800;
	font-size: 0.8em;
}

.btn1:hover {
	background: #2cc06b;
}
@media screen and (max-width: 520px) {
	.btn1 {
		width: auto;
	}
	.lsection {
		align-items: flex-start;
		width: auto;
	}

	.input {
		width: auto;
	}
	.btn {
		width: auto;
	}
	.btn1 {
		width: auto;
	}
}
